@model MvcGround.Models.ViewModels

<div class="row" id="peopleList">
    <div class="panel panel-body">
        <div class="col-lg-3">
            <p><b>Name</b></p>
        </div>

        <div class="col-lg-3">
            <p><b>Phone Number</b></p>
        </div>

        <div class="col-lg-3">
            <p><b>City</b></p>
        </div>

        <div class="col-lg-3">
        </div>
    </div>

    @foreach (var item in Model)
    {
    <div class="panel panel-body">
        <div class="col-lg-3">
            <p>@Html.DisplayFor(modelItem => Model.Name)</p>
        </div>

        <div class="col-lg-3">
            <p>@Html.DisplayFor(modelItem => Model.PhoneNumber)</p>
        </div>

        <div class="col-lg-3">
            <p>@Html.DisplayFor(modelItem => Model.City)</p>
        </div>

        <div class="col-lg-3">
            <p>@Html.ActionLink("Delete", "Delete", new { id = Model.Name })</p>
        </div>
    </div>
    }
</div>



