@model IEnumerable<MvcGround.Models.ViewModels>

@*<div class="row" id="peopleList">
    <div class="panel panel-body">
        <div class="col-lg-3">
            <p><b>Name</b></p>
        </div>

        <div class="col-lg-3">
            <p><b>Phone Number</b></p>
        </div>

        <div class="col-lg-3">
            <p><b>City</b></p>
        </div>

        <div class="col-lg-3">
        </div>
    </div>*@
<div id="peopleList">
    @foreach (var item in Model)
    {
    <div class="panel panel-body">
        <div class="col-lg-3">
            <p>@Html.DisplayFor(modelItem => item.Name)</p>
        </div>

        <div class="col-lg-3">
            <p>@Html.DisplayFor(modelItem => item.PhoneNumber)</p>
        </div>

        <div class="col-lg-3">
            <p>@Html.DisplayFor(modelItem => item.City)</p>
        </div>

        <div class="col-lg-3">
            <p>@Ajax.ActionLink("Delete", "Delete", new { id = item.Name },
              new AjaxOptions
              {
                  HttpMethod = "get",
                  InsertionMode = InsertionMode.ReplaceWith,
                  UpdateTargetId = "peopleList"
              })</p>
        </div>
    </div>
    }
</div>



