@model MvcGround.Models.ViewModels

<td>
    @Model.Name
</td>
<td>
    @Model.PhoneNumber
</td>
<td>
    @Model.City
</td>
<td>
    @Html.ActionLink("Delete", "Delete", new { id = Model.Name })
</td>