
@{
    ViewBag.Title = "GuessingGame";

}
<h2>GuessingGame</h2>
<br />
<h4>Guess a number between 1 and 100!</h4>

@using (Html.BeginForm("GuessingGame", "Home", FormMethod.Post))        //Gör så att värdet skickas till HomeCotroller
{
    <input type="number" name="guess" value="0" />                          //Inputen som spelaren skriver sin gissning i.
    <input type="submit" value="submit" class="btn btn-primary" />          //Knappen som skickar värdet.
}

@if (Session["GuessResult"] != null)                //Om det inte finns ett värde i GuessResult, så skriver den ite ut ett resultat.
{
    @Session["GuessResult"];                        //Skriver ut GuessResult, och hur många gånger spelaren har försökt.
    <br />
    <p>Attempts: @Session["FailCounter"]</p>
    }
