
@{
    ViewBag.Title = "GuessingGame";
}

<h2>GuessingGame</h2>

@using (Html.BeginForm("GuessingGame", "Home", FormMethod.Post))
{
    <input type="number" name="guess" value="0" />
    <input type="submit" value="submit" class="btn btn-primary" />
}

@if (ViewBag.GuessResult != null)
{
    @ViewBag.GuessResult;
}



