
@{
   
}

<h2>Projects</h2>

<ul>
    <li><a href="https://github.com/RangerOfAeon/CalculatorTest">Kalkylator</a></li>
    <li><a href="https://github.com/RangerOfAeon/BattleArena">Arena Fighter</a></li>
    <li><a href="https://github.com/RangerOfAeon/Golf">Golf</a></li>
    <li><a href="https://github.com/RangerOfAeon/Vending-Machine">Vending Machine</a></li>
    <li><a href="https://github.com/RangerOfAeon/TestHtml">Bootstrap</a></li>
    <li><a href="https://github.com/RangerOfAeon/Sokoban">Sokoban</a></li>
</ul>